#footerWrap {
  background-color: #000;
}
footer {
  justify-content: space-between;
  padding: 50px 0;
  color: #fff;
}
footer:after {
  content: '';
  display: block;
  clear: both;
}
footer .heading {
  width: 20%;
  border: 1px solid #000;
}
footer .heading .logo {
  display: inline-block;
}
footer .heading .logo > a {
  font-size: 0;
  line-height: 0;
}
footer .heading .logo a img {
  filter: grayscale(1);
  height: 100%;
  vertical-align: bottom;
}
.contact, .sns {
  margin-top: 25px;
}
.sns a {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}
.sns a:last-child {
  margin-right: 0;
}
footer section {
  display: flex;
  gap: 20px;
  width: 60%;
  margin-top: 50px;
  float: right;
}
footer article {
  width: calc((100% - 60px) / 4);
}
footer article h5 {
  font-size: 20px;
  margin-bottom: 20px;
}
footer article ul {}
footer article li {
  line-height: 2em;
}
footer article li a {
  color: #666;
}
@media (max-width: 920px) {
  footer .heading {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  footer section {
    width: 100%;
    float: none;
    display: block;
  }
  footer article {
    width: 100%;
    padding: 10px 0;
  }
  footer article h5 {
    margin: 0;
    border-bottom: 1px solid white;
    padding: 0 20px 10px 20px;
    position: relative;
    cursor: pointer;
  }
  footer article h5:before,
  footer article h5:after {
    content: '';
    text-align: center;
    line-height: 25px;
    position: absolute;
    width: 15px;
    background-color: #fff;
    height: 3px;
    top: 50%;
    right: 20px;
  }
  footer article h5:before {
    transform: rotate(90deg);
    transition: 0.35s;
  }
  footer article ul {
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid white;
    padding: 0;
    transition: height 0.35s;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  footer article.focus ul {
    height: 100%;
    padding: 20px 30px;
  }
  footer article.focus h5:before {
    transform: rotate(0deg);
  }
}