#headerWrap {
  box-shadow: 0 0 10px #000;
}
#headerWrap header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}
header .logo {
}
header .logo h1 {
  font-size: 0;
  line-height: 0;
}
header .logo a {}
.lnb {}
.lnb ul {}
.lnb li {
  float: left;
  margin-left: 10px;
}
.lnb li a {
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  transition: 0.35s;
  padding: 5px;
}
.lnb li a:hover {
  color: #222;
}