#headerWrap {
  box-shadow: 0 0 10px #000;
}
#headerWrap header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}
header .logo {
}
header .logo h1 {
  font-size: 0;
  line-height: 0;
}
header .logo a {}
.lnb {}
.lnb ul {}
.lnb li {
  float: left;
  margin-left: 10px;
}
.lnb li a {
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  transition: 0.35s;
  padding: 5px;
}
.lnb li a:hover {
  color: #222;
}
header .menu {
  display: none;
}
@media (max-width: 920px) {
  .lnb {
    display: none;
  }
  header .menu {
    cursor: pointer;
    width: 40px;
    height: 30px;
    display: block;
    position: relative;
  }
  header .menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    opacity: 1;
    transition: 0.35s;
  }
  header .menu span:nth-child(1) {
    top: 0;
  }
  header .menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header .menu span:nth-child(3) {
    bottom: 0;
  }
  header .menu.focus span {}
  header .menu.focus span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  header .menu.focus span:nth-child(2) {
    opacity: 0;
  }
  header .menu.focus span:nth-child(3) {
    bottom: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }
}