body {
  overflow-x: hidden;
}
/* ########## product ########## */
#product-wrap {
  padding-top: 100px;
}
.product section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.product .imgView {
  width: calc((100% - 20px) / 2);
}
.product .bigImg img {
  width: 80%;
  height: 450px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.product .thumbImg {
  width: 50%;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-top: 25px;
}
.product .thumbImg img {
  width: calc((100% - 40px) / 3);
  cursor: pointer;
}
.product .texts {
  width: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product .texts h3 {
  margin: 25px 0;
}
.product .btns {
  display: flex;
  margin: 50px 0;
  gap: 20px;
}
.product .btns button {
  background: #000;
  color: #fff;
  border-radius: 50px;
  line-height: 30px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.product .btns button:active {
  transform: scale(0.7);
}
.product .btns .hrt {
  border: 1px solid #000;
  border-radius: 50px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
/* 찜하기 기능 */
.product .btns .hrt.on {
  border: 1px solid salmon;
  color: salmon;
}
.pdService div {
  display: flex;
  gap: 20px;
  line-height: 20px;
}
.pdService div p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.stock {
  margin-top: 15px;
}
/* ########## banner - img ########## */
.banner-img {
  background: url(../img/product/pic05.jpg) no-repeat center bottom / cover;
  height: 200px;
}
/* ########## detail ########## */
.detail {
  position: relative;
}
.detail:after {
  content: 'IKEA';
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 16rem;
  color: #f7f7f7;
  line-height: 0.7em;
  font-weight: 700;
  z-index: -1;
}
.detail section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, minmax(30vh, auto));
  gap: 20px;
}
.detail section article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail section article:first-child {
  margin-bottom: 40px;
}
.detail section article:first-child,
.detail section article:last-child {
  grid-column: 1 / span 3;
  width: 100%;
  display: flex;
  gap: 20px;
}
.detail section article:first-child img,
.detail section article:last-child img {
  width: 50%;
}
.detail section article .text {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.detail section article .text h4 {
  text-transform: uppercase;
  font-size: 24px;
}
.detail section article .text p {
  margin-top: 20px;
}
.detail section article .text h5 {
  margin-top: 60px;
  font-size: 20px;
}
.detail section article:last-child .text {
  margin-left: 100px;
}
.detail section article:last-child p {
  margin-top: 0;
  color: #777;
}
.detail section article:last-child p span {
  font-weight: 600;
  margin-right: 10px;
}
.detail .howto {
  margin-top: 40px;
}
.detail h4 {
  margin-bottom: 20px;
}
.detail .docs p {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
/* ########## banner - slogan ########## */
#slogan-wrap {
  background: url(../img/product/pic20.jpg) no-repeat center center / cover;
  background-attachment: fixed;
}
.slogan {
  padding: 60px;
}
.slogan header {
  text-align: left;
  width: 60%;
}
.slogan header h3 {
  font-size: 24px;
}
.slogan section {
  width: 60%;
  text-align: right;
  margin-left: auto;
}
/* ########## ingredient ########## */
.ingredient {}
.ingredient section {
  display: flex;
  gap: 20px;
  padding: 0 40px;
}
.ingredient section article {
  width: calc((100% - calc(20px * 3)) / 4);
}
.ingredient section .ingredient-image {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.ingredient article:nth-child(1) .ingredient-image {
  background-image: url(../img/product/pic19.jpg);
}
.ingredient article:nth-child(2) .ingredient-image {
  background-image: url(../img/product/pic10.jpg);
}
.ingredient article:nth-child(3) .ingredient-image {
  background-image: url(../img/product/pic11.jpg);
}
.ingredient article:nth-child(4) .ingredient-image {
  background-image: url(../img/product/pic29.jpg);
}
.ingredient section article .text {
  text-align: center;
  margin-top: 20px;
}
.ingredient section article .text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}