/* index.css */
/* ########## main ########## */
#main-wrap {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
main {
  position: relative;
}
main .text {
  width: 70%;
  margin: 0 auto;
}
main .text h1 {
  color: #637e76;
  text-shadow: 5px 3px 0px rgba(0, 0, 0, 0.2);
  line-height: 50px;
}
main .text p {
  margin-top: 50px;
}
main .text a {
  display: block;
  margin-top: 25px;
}
main .text a i {
  margin-left: 10px;
}
main img {
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 20%;
}
/* ########## best-product ########## */
.best-pd {}
.best-pd section {
  overflow: hidden;
  display: flex;
  gap: 20px;
}
.best-pd article {
  height: 500px;
  width: 33.3333%;
  position: relative;
}
.best-pd article img {
  position: absolute;
  width: 100%;
}
.best-pd .text {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
.best-pd .text p {
  text-align: left;
  margin-top: 50px;
}
/* ########## banner - vision ########## */
#vision-wrap {
  background: url('../img/pic4.jpg') no-repeat center center / cover;
  background-attachment: fixed;
  color: #fff;
}
.vision header h3 {
  font-size: 26px;
  text-shadow: 2px 2px 10px #000;
}
.vision section {
  margin-top: 25px;
}
.vision section p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
/* ########## new-product ########## */
.new-pd section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.new-pd article {
  display: flex;
  height: 200px;
}
.new-pd article .text {
  padding: 20px;
  width: 50%;
}
.new-pd article .text h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.new-pd article a {
  width: 50%;
}
.new-pd article img {
  vertical-align: middle;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.new-pd article:nth-child(1) {
  grid-row: 1 / span 2;
  height: auto;
}
.new-pd article:nth-child(1) a {
  width: 100%;
}
.new-pd article:nth-child(1) a img {
  height: 400px;
}
.new-pd article:nth-child(5) a {
  width: 100%;
}
/* ########## banner - idea ########## */
#idea-wrap {
  background-color: #ddd;
}
.idea {
  display: flex;
  gap: 20px;
}
.idea .text {
  padding: 0 50px;
  text-align: center;
  display: grid;
  align-content: center;
}
.idea section {
  margin-top: 20px;
}
.idea section a {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0 20px;
  border-radius: 100px;
  line-height: 40px;
}
.idea img {
  width: 50%;
}
/* ########## event ########## */
.event article {
  display: flex;
  gap: 20px;
}
.event .imgGroup {
  width: 60%;
  position: relative;
  height: 900px;
}
.event .imgGroup img {
  width: 60%;
  vertical-align: middle;
}
.event .imgGroup img:nth-child(2) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.event .imgGroup img:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 5%;
}
.event .text {
  width: 40%;
  display: grid;
  align-content: end;
  padding-left: 20px;
}
.event .text h5 {
  margin-bottom: 20px;
}
.event .text p {
  margin-top: 10px;
}
.event .text p:first-child {
  margin-top: 0;
}
/* ########## md's pick ########## */
/* ########## service ########## */
