/* index.css */
/* ########## main ########## */
#main-wrap {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
main {
  position: relative;
}
main .text {
  width: 70%;
  margin: 0 auto;
}
main .text h1 {
  color: #637e76;
  text-shadow: 5px 3px 0px rgba(0, 0, 0, 0.2);
  line-height: 50px;
}
main .text p {
  margin-top: 50px;
}
main .text a {
  display: block;
  margin-top: 25px;
}
main .text a:hover i {
  transform: rotate(90deg);
}
main .text a i {
  margin-left: 10px;
  transition: 0.35s;
}
main img {
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 20%;
}
/* ########## best-product ########## */
.best-pd {}
.best-pd section {
  overflow: hidden;
  display: flex;
  gap: 20px;
}
.best-pd article {
  height: 500px;
  width: 33.3333%;
  position: relative;
}
.best-pd article img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.35s;
}
.best-pd .text {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  transform: rotateY(180deg);
  transition: 0.35s;
}
.best-pd .text p {
  text-align: left;
  margin-top: 50px;
}
.best-pd .text em {
  font-style: normal;
  margin-top: 10px;
}
.best-pd article:hover img {
  transform: rotateY(-180deg);
  z-index: -1;
}
.best-pd article:hover .text {
  transform: rotateY(0deg);
  z-index: 0;
}
/* ########## banner - vision ########## */
#vision-wrap {
  background: url('../img/pic4.jpg') no-repeat center center / cover;
  background-attachment: fixed;
  color: #fff;
}
.vision header h3 {
  font-size: 26px;
  text-shadow: 2px 2px 10px #000;
}
.vision section {
  margin-top: 25px;
}
.vision section p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
/* ########## new-product ########## */
.new-pd section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.new-pd article {
  display: flex;
  height: 200px;
}
.new-pd article .text {
  padding: 20px;
  width: 50%;
  display: grid;
  align-content: center;
}
.new-pd article .text h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.new-pd article a {
  width: 50%;
}
.new-pd article img {
  vertical-align: middle;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.new-pd article:nth-child(1) {
  grid-row: 1 / span 2;
  height: auto;
}
.new-pd article:nth-child(1) a {
  width: 100%;
}
.new-pd article:nth-child(1) a img {
  height: 400px;
}
.new-pd article:nth-child(5) a {
  width: 100%;
}
/* ########## banner - idea ########## */
#idea-wrap {
  background-color: #ddd;
}
.idea {
  display: flex;
  gap: 20px;
}
.idea .text {
  padding: 0 50px;
  text-align: center;
  display: grid;
  align-content: center;
}
.idea section {
  margin-top: 20px;
}
.idea section a {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0 20px;
  border-radius: 100px;
  line-height: 40px;
  transition: 0.35s;
}
.idea section a:hover {
  background-color: #fff;
  color: #000;
}
.idea img {
  width: 50%;
}
/* ########## event ########## */
.event article {
  display: flex;
  gap: 20px;
}
.event .imgGroup {
  width: 60%;
  position: relative;
  height: 900px;
}
.event .imgGroup img {
  width: 60%;
  vertical-align: middle;
  object-fit: cover;
}
.event .imgGroup img:nth-child(2) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.event .imgGroup img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 5%;
}
.event .text {
  width: 40%;
  display: grid;
  align-content: end;
  padding-left: 20px;
  margin-bottom: 100px;
}
.event .text h5 {
  margin-bottom: 20px;
}
.event .text p {
  margin-top: 10px;
}
.event .text p:first-child {
  margin-top: 0;
}
/* ########## md's pick ########## */
#md-pick-wrap {
  background-color: #455057;
}
.md-pick header h3 {
  color: #fff;
}
.md-pick section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.md-pick article {
  height: 300px;
}
.md-pick article a {
  width: 50%;
}
.md-pick article a img {
  width: 100%;
  vertical-align: middle;
  height: 100%;
  object-fit: cover;
}
.md-pick article .text {
  background-color: #fff;
  width: 50%;
  display: grid;
  align-content: center;
  padding: 0 20px;
}
.md-pick article .text h5 {
  margin-bottom: 20px;
}
.md-pick article:nth-child(1) {
  display: flex;
  gap: 20px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.md-pick article:nth-child(2) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  height: 620px; /*article * 2 + gap 값*/
}
.md-pick article:nth-child(3),
.md-pick article:nth-child(4) {
  grid-row: 2;
  grid-column: 1;
}
.md-pick article:nth-child(4) {
  grid-column: 2;
}
/* ########## service ########## */
.service {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.service article {
  width: 25%;
  padding: 50px;
  text-align: center;
  border-right: 2px solid #333;
}
.service article:last-child {
  border: none;
}
.service article p {
  padding: 5px;
  cursor: pointer;
  position: relative;
}
.service article p::before {
  content: '';
  position: absolute;
  background-color: #aaa;
  height: 2px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: 0.35s;
}
.service article p:hover::before {
  width: 90%;
}
.service article i {
  margin-right: 10px;
}
@media (max-width: 1100px) {
  /* ########## new-product ########## */
  .new-pd article {
    height: 250px;
  }
  .new-pd article img {
    height: 250px;
  }
  .new-pd article:nth-child(1) a img {
    height: 500px;
  }
  /* ########## service ########## */
  .service {
    padding: 100px 10px;
  }
}
@media (max-width: 1024px) {
  /* common css */
  .cnt-inner {
    padding: 100px 20px;
  }
  /* ########## best-product ########## */
  .best-pd section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .best-pd article {
    width: 40%;
    height: 400px;
  }
  /* ########## md's pick ########## */
  .md-pick section {
    gap: 0;
  }
  .md-pick article:nth-child(1) {
    gap: 0;
  }
  .md-pick article:nth-child(2) {
    height: 600px;
  }
}
@media (max-width: 920px) {
  /* ########## header ########## */

  /* ########## best-product ########## */
  .best-pd article {
    width: 60%;
  }
  /* ########## new-product ########## */
  .new-pd section {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr;
  }
  .new-pd article:nth-child(4) {
    flex-direction: row-reverse;
  }
  .new-pd article:nth-child(5) img {
    height: 500px;
  }
  /* ########## banner - idea ########## */
  .idea {
    display: block;
  }
  .idea img {
    width: 100%;
    margin-top: 50px;
  }
  /* ########## event ########## */
  .event article {
    display: block;
  }
  .event .imgGroup {
    width: 100%;
  }
  .event .text {
    width: 80%;
    margin-top: 50px;
    padding-left: 0;
  }
  /* ########## md's pick ########## */
  .md-pick section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .md-pick article {
    width: 100%;
  }
  .md-pick article:nth-child(2) {
    height: 300px;
  }
  /* ########## service ########## */
  .service {
    flex-wrap: wrap;
  }
  .service article {
    width: 50%;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
  }
  .service article:nth-child(even) {
    border-right: 0;
  }
  .service article:nth-child(3) {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  /* ########## main ########## */
  main .text {
    width: 90%;
  }
  /* ########## best-product ########## */
  .best-pd article {
    width: 70%;
    height: 600px;
  }
  /* ########## banner - vision ########## */
  .vision section p {
    width: 80%;
  }
  /* ########## event ########## */
  .event .imgGroup {
    position: static;
    height: 200px;
    display: flex;
    gap: 10px;
  }
  .event .imgGroup img {
    width: 33.3333%;
    height: 100%;
  }
  .event .imgGroup img:nth-child(2) {
    position: static;
    transform: translateY(0);
  }
  .event .imgGroup img:nth-child(3) {
    position: static;
  }
  /* ########## service ########## */
  .service article p:hover::before {
    width: 70%;
  }
}